@font-face {
  font-family: 'Sarcolenta';
  src: url('../fonts/Sarcolenta.ttf') format('truetype');
}


/* Variables de ROOT */


:root {
  --background-light: rgba(247, 245, 243, 0.8); /* Fondo neutro con transparencia */
  --primary-color: #b89f7d; /* Marrón suave */
  --secondary-color: #6b8f71; /* Verde suave */
  --accent-color: #8ab3c5; /* Azul claro */
  --highlight-color: #d97350; /* Naranja cálido */
  --text-color: #3c3c3c; /* Gris oscuro */
  --dark-brown: #5a4a42; /* Marrón oscuro */
  --light-gradient: linear-gradient(to bottom, rgba(255, 198, 152, 0.9), rgba(245, 205, 215, 0.8));
  --font-family: 'Sarcolenta'
}


body {
  font-family: 'Sarcolenta';
  margin: 0;
  padding: 0;
  background: url('../../assets/images/savethedate.jpeg') center/cover no-repeat;
  background-attachment: fixed;
  background-blend-mode: multiply;
  color: #333;
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  position: relative;
  width: 100vw; /* Ancho completo de la pantalla */
  height: 100vh; /* Alto completo de la pantalla */
  color: var(--text-color);
  background: var(--light-gradient), url('../../assets/images/giuli_anillo.jpeg') center/cover no-repeat; 
  animation: fadeIn 2s ease-in-out; /* Animación de entrada */
  /*backdrop-filter: blur(3px); /* Desenfoque ligero */
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
@media (max-width: 768px) {

  header {
    margin: 0;
    position: relative;
    width: 100vw; /* Ancho completo de la pantalla */
    height: 100vh; /* Alto completo de la pantalla */
  }

  header::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    background: var(--light-gradient), url('../../assets/images/giuli_anillo.jpeg') center/cover no-repeat; 
    background-blend-mode: multiply;
    z-index: -1; /* Lo colocamos detrás del contenido del header */
  }


  body {
    margin: 0;
    padding: 0;
    background: none; /* Eliminamos el fondo directo */
    position: relative;
  }

  /* Simulamos el fondo con un pseudo-elemento */
  body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../assets/images/savethedate.jpeg') center/cover no-repeat;
    background-blend-mode: multiply;
    z-index: -1; /* Lo colocamos detrás del contenido */
  }
}


/* Header */
.title-section {
  text-align: center;
  /* padding: 100px 20px; */
  
}

.title {
  font-size: 4rem;
  font-family: 'Sarcolenta';
  color: var(--highlight-color); /* Naranja cálido */
  margin: 0;
  /*text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);*/
  animation: textFocusIn 1.5s ease-in-out;
}

.subtitle {
  font-size: 1.8rem;
  font-family: 'Sarcolenta', serif;
  color: var(--dark-brown); /* Marrón oscuro */
  margin-top: 10px;
  /*text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);*/
  animation: textFocusIn 1.5s ease-in-out;
}

.flecha-continuar {
  font-size: 2.5rem;
  color: var(--highlight-color); /* Naranja cálido */
  margin-top: 20px;
  animation: bounce 1.5s infinite;
  cursor: pointer;
}

.quote {
  margin-top: 20px;
  font-family: 'Sarcolenta', serif; /* Cambio para darle más elegancia */
  font-size: 1.5rem;
  width: 80vw;
  font-style: italic;
  color: var(--text-color); 
  animation: fadeInUp 4s ease-in-out;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

/* Animaciones */
@keyframes textFocusIn {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



.section {
  padding: 20px;
  margin: 20px 0;
  background: rgba(247, 235, 225, 0.8);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



/* Información del Evento */


/* Sección "Nuestra Historia" */
.nuestra-historia-section {
  padding: 40px 20px;
  background: var(--light-gradient);
  border-radius: 15px;
  color: var(--text-color);
  margin: 20px auto;
  max-width: 800px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  text-align: justify;
}

.nuestra-historia-section h2 {
  font-family: 'Sarcolenta';
  font-size: 2.8rem;
  text-align: center;
  color: var(--highlight-color);
  margin-bottom: 20px;
}

.nuestra-historia-section h3 {
  font-family: 'Sarcolenta';
  font-size: 1.8rem;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 10px;
}

.nuestra-historia-section p {
  font-size: 1.2rem;
  line-height: 1.8;
  color: var(--dark-brown);
}

.nuestra-historia-section img {
  display: block;
  margin: 10px auto;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Enlaces */
.nuestra-historia-section a {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: bold;
}

.nuestra-historia-section a:hover {
  text-decoration: underline;
}

/* Sección "Participantes de nuestra historia" */
.participants-section {
  padding: 50px 20px;
  background: var(--background-light);
  border-radius: 15px;
  margin: 40px auto;
  max-width: 1000px;
  text-align: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.participants-section h2 {
  font-family: 'Sarcolenta', serif;
  font-size: 2.8rem;
  color: var(--primary-color);
  margin-bottom: 30px;
}

.participants-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  justify-items: center;
}

.participants-item img {
  width: 100%;
  max-width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.participants-item img:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}



.participants-item p {
  font-family: 'Sarcolenta', serif;
  margin-top: 10px;
  font-size: 1rem;
  color: var(--text-color);
}

/* Lightbox */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.lightbox-content {
  position: relative;
  text-align: center;
  max-width: 80%;
  color: white;
}

.lightbox-image {
  max-width: 100%;
  max-height: 70vh;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.lightbox-description {
  font-size: 1.2rem;
  margin-top: 10px;
}

.lightbox-close,
.lightbox-prev,
.lightbox-next {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  border: none;
  color: white;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  transition: background 0.3s ease;
}

.lightbox-close:hover,
.lightbox-prev:hover,
.lightbox-next:hover {
  background: rgba(0, 0, 0, 0.9);
}

.lightbox-close {
  top: 20px;
  right: 20px;
}

.lightbox-prev {
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.lightbox-next {
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.lightbox-active {
  display: flex;
}



.info-section {
  text-align: center;
  padding: 40px 20px;
  color: rgb(0, 0, 0); 
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 1.5); /*Sombra para mejorar legibilidad */
}


.info-section h2 {
  font-family: 'Sarcolenta'; /* Fuente Sarcolenta */
  font-size: 3.2rem;
  color: var(--primary-color); /* Marrón suave */
  text-align: center;
  margin-bottom: 20px;
}

.info-item h3 {
  font-family: 'Sarcolenta'; /* Fuente Sarcolenta */
  font-size: 2.5rem;
  color: var(--highlight-color); /* Naranja cálido */
  margin-bottom: 10px;
  text-align: center;
}

.info-item {
  margin-bottom: 40px;
}


.info-item img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.info-item p {
  font-family: 'Sarcolenta';
  font-size: 1.2rem;
  margin-bottom: 10px;
  text-shadow: none
}

.info-item a {
  color: hsl(39, 96%, 67%); /* Color de enlace que contraste con el fondo */
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

.info-item a:hover {
  text-decoration: underline;
}

.gallery-section {
  text-align: center;
  padding: 40px 20px;
  color: #fff;

  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.gallery-section h2 {
  font-family: 'Sarcolenta';
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #000000;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  justify-items: center;
  padding: 20px;
}

.gallery-item img {
  width: 100%;
  max-width: 150px;
  height: 150px;
  object-fit: cover; /* Asegura que todas las imágenes tengan el mismo tamaño */
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.gallery-item img:hover {
  transform: scale(2.2);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-content {
  max-width: 80%;
  max-height: 80%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.arrow {
  position: absolute;
  top: 50%;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  user-select: none;
  transform: translateY(-50%);
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.arrow.prev {
  left: 10px;
}

.arrow.next {
  right: 10px;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  user-select: none;
}




/* .title-section {
  
  animation: fadeIn 2s ease-in-out; /* Animación de entrada 
}

 .title {
  font-size: 4rem;
  font-family: 'Sarcolenta';
  color: #d97350;
  margin: 0;
  animation: textFocusIn 1.5s ease-in-out;
}

.subtitle {
  font-size: 1.8rem;
  font-family: 'Sarcolenta';
  color: #5a4a42;
  margin-top: 10px;
  animation: textFocusIn 1.5s ease-in-out;
}

.flecha-continuar {
  font-size: 2.5rem;
  color: #d97350;
  margin-top: 20px;
  animation: bounce 1.5s infinite;
  cursor: pointer;
}

.quote {
  margin-top: 20px;
  font-family: 'Sarcolenta';
  font-size: 1.5rem;
  color:  #d97350;
  animation: fadeInUp  4s ease-in-out; /* Efecto sutil de subida 
} */






/* Sección de Regalo */
.gift-section {
  text-align: center;
  padding: 50px 30px;
  background: var(--background-light); /* Transparencia */
  color: var(--text-color);
  border: 2px solid var(--primary-color);
  border-radius: 15px;
  margin: 40px auto;
  max-width: 700px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  animation: fadeIn 1.5s ease-in-out; /* Animación de entrada */
  backdrop-filter: blur(5px); /* Efecto de desenfoque del fondo */
}

.gift-section h2 {
  font-size: 2.8rem;
  color: var(--primary-color);
  margin-bottom: 15px;
  font-family: var(--font-family);
}

.gift-section p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  line-height: 1.8;
  color: var(--text-color);
}

.gift-alias {
  background: var(--secondary-color);
  color: var(--background-light);
  display: inline-block;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1.3rem;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}




/* Sección de Confirmación */
.confirmation-section {
  text-align: center;
  padding: 50px 30px;
  background: var(--background-light); /* Transparencia agregada */
  color: var(--text-color);
  border: 2px solid var(--primary-color);
  border-radius: 15px;
  margin: 40px auto;
  max-width: 700px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  animation: fadeInConfirmation 1.5s ease-in-out;
  backdrop-filter: blur(5px); /* Efecto de desenfoque del fondo */
}



.confirmation-section h2 {
  font-size: 2.8rem;
  color: var(--primary-color);
  margin-bottom: 15px;
  font-family: var(--font-family);
}

.confirmation-section p {
  font-size: 1.2rem;
  margin-bottom: 25px;
  line-height: 1.8;
  color: var(--text-color);
}

.confirmation-link a {
  font-size: 1.3rem;
  color: var(--background-light);
  background: var(--secondary-color);
  text-decoration: none;
  font-weight: bold;
  padding: 12px 25px;
  border-radius: 8px;
  display: inline-block;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.confirmation-link a:hover {
  background: var(--accent-color);
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Animación */
@keyframes fadeInConfirmation {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Animaciones */
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes textFocusIn {
  0% {
      letter-spacing: 1em;
      opacity: 0;
  }
  100% {
      letter-spacing: normal;
      opacity: 1;
  }
}

@keyframes bounce {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
}


@keyframes slideFadeIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes zoomIn {
  from {
      opacity: 0;
      transform: scale(0.8);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

